/*style.css*/

/* General Styles */

  body {
    background-image: url(../images/website_background.jpg);
    background-size: cover;
    background-color: black;
    font-family: 'Aldrich';
  }

/* General Styles End */

/* Header Styles */

  .title1 {
    position: absolute;
    left: 50%;
    margin-left: -67px;
    text-align: center;
    z-index: 2;
    width: 134px;
    height: 45px;
    font-size: 28px;
    font-weight: normal;
    border-style: solid;
    border-width: 2px;
    border-bottom: 0px;
    background-color: hsl(270, 53%, 37%);
  }

  .title2 {
    position: absolute;
    font-size: 40px;
    left: 50%;
    margin-left: -232px;
    z-index: 1;
    top: 50px;
    width: 464px;
    height: 52px;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    background-color: hsl(270, 53%, 37%);
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: hsla(195, 93%, 55%, 1);
  }



/* Header Styles End */
